################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/PaizaConsole/obj/Debug
/.vs
/.vs
/.vs/PaizaConsole/v15
/.vs
